@{
    ViewData["Title"] = "Home Page";
}

<h1>Il piacere dei sensi</h1>
<div>Benvenuto nel nostro ristorante!</div>
<img src="https://img.freepik.com/premium-vector/seafood-restaurant-logo-vector-illustration_9857-276.jpg?size=338&ext=jpg" />
